.table-misenvios {
    border-collapse: collapse;
    width: 100%;
    font-size: 10pt;
}

.table-misenvios th {
    background-color: #1C4574;
    color: white;
}

.table-misenvios th, 
.table-misenvios td {
    border: 1px solid black;
    padding: 0px 10px;
}




/* FILTROS */

.filter-container {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    display: none;
    max-height: 150px;
    overflow-y: auto;
    width: 150px;
    white-space: nowrap;
    z-index: 1000;
}
.filter-button {
    cursor: pointer;
    border: none;
    padding: 5px;
    background: none;
    font-size: 16px;
}
.filter-button::before {
    content: '\2630'; /* Icono de tres líneas */
}
.filter-active {
    background-color: lightgray;
}


